.Heropages {
    background-image: url(./../../assets/images/page-heading-bg.jpg);
    height: 40vh;
    margin-top: 10vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ParHeroPages {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    width: max-content;
    font-weight: 800;
}

.TitleHeroPages {
    margin-top: 20px;
    font-size: 40px;
}